<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="/">Home</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/"><%= user.email %></a>
                <a class="nav-item nav-link " href="/logout">Logout</a>
            </div>
        </div>
    </nav>

    <script>

        function onClick(){
            var selectBox = document.getElementById("metrics");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;
            alert(selectedValue);

            $.ajax({
                    type: "DELETE",
                    url: '/Users/metrics/'+selectedValue ,
                }).done(function (msg) {
                    //document.location.reload(true)
                });
        }

        //I really don't know why VSCode still saying that it's an error...
        var usertp = <%-JSON.stringify(user)%>;
        $(document).ready(function () {
            $('#delete').on('click', function () {

                $.ajax({
                    type: "DELETE",
                    url: '/'+usertp.email ,
                }).done(function (msg) {
                    document.location.reload(true)
                });

                //here would be the code to send the DELETE request 
            });
        });


    </script>

</head>

<body class="container">

    <h1 class="mt-4">User page</h1>
    <p class="lead mb-3">Welcome <%= user.username %></p>

    <a href="/updateProfile" class="btn btn-primary">Update Profile</a>

    <!-- Mettre affichage metrics -->
    <br><br><br><br>
    <div>

        <div class="text-right">

            <!-- <a href="/logout" class="btn btn-secondary text-left">Logout</a> -->

            <!-- change href -->
            <a class="btn btn-danger" id="delete">Delete your profile</a>

        </div>
    </div>

    <form action="/Users/metrics" method="POST">
        <div class="form-group">
          <label for="id">ID</label>
          <input type="text" id="id" name="id" class="form-control" placeholder="Enter metric's ID"/>
        </div>
        <div class="form-group">
          <label for="value">Value</label>
          <input type="value" id="value" name="value" class="form-control" placeholder="Enter metric's value"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block">New Metric</button>
      </form>

      <br>
      <select id="metrics">
        <% for(var i = 0; i < user.metrics.length; i++) { %>
            <% if(user.metrics[i].type == "user") { %>
          <option value=<%= user.metrics[i].id %>><%= user.metrics[i].id %></option>
            <%}%>
        <% } %>
      </select>
      <button class="btn btn-primary" onclick="onClick()">Delete the metric</button>


</body>

</html>