<!DOCTYPE html>
<html lang="en">

<head>

    <% include partials/head %>


    <!-- Allows to display the right navBar -->
    <% var connected = 1 %>

    <% include partials/navBar %>

    <script>


        function onClick() {
            var selectBox = document.getElementById("metrics");
            var selectedValue = selectBox.options[selectBox.selectedIndex].value;

            $.ajax({
                type: "DELETE",
                url: '/Users/metrics/' + selectedValue,
            }).done(function (msg) {
                document.location.reload(true)
            });
        }

        function onClickUpdate() {

        }

        //I really don't know why VSCode still saying that it's an error... but it works
        //var usertp = <% - JSON.stringify(user) %>
            $(document).ready(function () {
                $('#delete').on('click', function () {

                    $.ajax({
                        type: "DELETE",
                        //     url: '/' + usertp.email,
                        // }).done(function (msg) {
                        //     document.location.reload(true)
                        url: '/<%= user.email %>',
                    }).done(function (msg) {
                        alert('Your profile is now deleted, you will be redirected to the login page');
                        location.reload(true);
                    });
                });

                $('#update').on('click', function () {
                    console.log("here")
                    var selectBox = document.getElementById("metricsUpdate");
                    var selectedValue = selectBox.options[selectBox.selectedIndex].value;
                    var newValue = document.getElementById("valueUpdate").value

                    $.ajax(
                        {
                            type: "POST",
                            url: '/Users/metrics/' + selectedValue,
                            dataType: 'json',
                            data: {
                                value: newValue
                            },
                        })
                        .done(function (msg) {
                            document.location.reload(true)
                        });
                })
            });

    </script>

</head>

<body>
    <div class="container">
        <h1 class="mt-4">User page</h1>
        <p class="lead mb-3">Welcome <%= user.username %></p>

        <a href="/updateProfile" class="btn btn-primary">Update Profile</a>

        <!-- Mettre affichage metrics -->
        <br><br><br><br>
        <div>

            <div class="text-right">

                <!-- <a href="/logout" class="btn btn-secondary text-left">Logout</a> -->

                <!-- change href -->
                <a class="btn btn-danger" id="delete">Delete your profile</a>

            </div>
        </div>


        <form action="/Users/metrics" method="POST">
            <div class="form-group">
                <label for="id">ID</label>
                <input type="text" id="id" name="id" class="form-control" placeholder="Enter metric's ID" />
            </div>
            <div class="form-group">
                <label for="value">Value</label>
                <input type="value" id="value" name="value" class="form-control" placeholder="Enter metric's value" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">New Metric</button>
        </form>

        <h2 class="mt-5">Delete Metrics</h2>
        <select id="metrics">
            <% for(var i = 0; i < user.metrics.length; i++) { %>
            <% if(user.metrics[i].type == "user") { %>
            <option value=<%= user.metrics[i].id %>><%= user.metrics[i].id %></option>
            <%}%>
        <% } %>
        </select>
        <button class="btn btn-primary" onclick="onClick()">Delete the metric</button>

        <h2 class="mt-5">Update Metrics</h2>
        <select id="metricsUpdate">
            <% for(var i = 0; i < user.metrics.length; i++) { %>
            <% if(user.metrics[i].type == "user") { %>
            <option value=<%= user.metrics[i].id %>><%= user.metrics[i].id %></option>
            <%}%>
            <% } %>
        </select>
        <label for="value">Value</label>
        <input type="value" id="valueUpdate" name="value" class="form-control" placeholder="Enter metric's value" />
        <button class="btn btn-primary" id="update">Update the metric</button>

        <br><br><br><br>


        <% var result = []; %>
            <% for(var i = 0; i < user.metrics.length; i++) { %>
                <% if(user.metrics[i].type == "con") { %>        
                   <% result.push(user.metrics[i]) %>
                <% } %> 
            <% } %>

            <% result.sort(function (a, b) { %>
                <% return a.timestamp - b.timestamp; %>
            <% }); %>

            <% var dataUser = [] %>
            <% var labelUser = [] %>
            
            <% for(var i = 0; i < result.length; i++) { %>
            
                <% dataUser.push(result[i].value) %>
                <% labelUser.push(result[i].timestamp) %>
                
                
            <% } %>
            

            <% console.log("Data user :" + dataUser) %>
            <% console.log("Label user :" + labelUser) %>
        


        <canvas id="myChart"></canvas>

        <script>
            let myChart = document.getElementById('myChart').getContext('2d');

            let conChart = new Chart(myChart, {
                type: 'bar',
                data: {
                    labels: <%- JSON.stringify(labelUser) %> ,
                    datasets: [{
                        label: 'Connection',
                        data: <%- JSON.stringify(dataUser) %> ,
                        backgroundColor:'blue'
                        
                    }]
                },
                options: {
                    title:{
                        display:true,
                        text:'Graph 1: All dates of connection of the user',
                        fontSize:25 
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })

        </script>

        <br><br><br><br>

        

      
        
            <% var result = []; %>
            <% for(var i = 0; i < user.metrics.length; i++) { %>
                <% if(user.metrics[i].type == "user") { %>        
                   <% result.push(user.metrics[i]) %>
                <% } %> 
            <% } %>

            <% result.sort(function (a, b) { %>
                <% return a.timestamp - b.timestamp; %>
            <% }); %>


           <% var dataUser = [] %>
           <% var labelUser = [] %>
           
            <% for(var i = 0; i < result.length; i++) { %>
            
                
                <% dataUser.push(result[i].value) %>
                <% labelUser.push(result[i].id + ": " +result[i].timestamp) %>
                
                
            <% } %>
            
            <% console.log("Data user :" + dataUser) %>
            <% console.log("Label user" + labelUser) %>
        
      

       


        <canvas id="myChart2"></canvas>

        <script>
            


            let myChart2 = document.getElementById('myChart2').getContext('2d');

            let userChart = new Chart(myChart2, {
                type: 'bar',
                data: {
                    // labels: ['Monday', 'Tuesday', 'Wednersday', 'Thursday', 'Friday', 'Saturday', 'Sunday'],
                    labels: <%- JSON.stringify(labelUser) %> ,
                    datasets: [{
                        label: 'Number of metrics',
                        // data: [
                        //     1,
                        //     2,
                        //     3,
                        //     4,
                        //     5,
                        //     6,
                        //     7
                        // ],
                        data: <%- JSON.stringify(dataUser) %> ,
                        backgroundColor:'blue'
                        
                    }]
                },
                options: {
                    title:{
                        display:true,
                        text:'Graph 2: All metrics of the user',
                        fontSize:25 
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            })

        </script>

        <br><br><br><br>

    </div>
</body>

</html>